.formContainer{
   display: flex;
   flex-direction: column;
   height: 40Vh;
   align-items: center;
   position: relative;
   top: -30rem;
   width: 30vw;
   margin-left: 35vw;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: rgb(145, 145, 145);
}
.formContainer button{
    width: 15%;
    height: 8%;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
.formContainer button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.formContainer textarea{
    width: 80%;
    height: 90%;
    border: none;
}

@media screen and (max-width: 600px) and (min-width: 280px){
    .formContainer{
        height: 20Vh;
        width: 90%;
        margin-left: 5%;
     }
     .formContainer button{
        height: 15%;
        width: 30%;
    }
}